.box1{
  width: 0.5em; 
  border: solid 3px #000;
  width: 320px;
  height: 570px;
  position: relative; /* 基準位置とする */
  display: block;
  margin: 0px auto;
}

.box {
    width: 320px;    
    height: 570px;    /* 適当な幅を指定 */
       /* 適当な高さを指定 */
    position: relative; /* 基準位置とする */
    display: block;
    margin: 0px auto;
  }
  /* 共通するCSS */
  .box img {
    width: 320px;       /* 適当な幅を指定 */
    position: absolute; /* 相対位置に指定 */
  }
  
  

  /* twitter画像をホバーした */
  img.twitter_button:hover{
   
      /* 透明度を上げることで、画像の色を薄く見せる。*/
      opacity:1.8;
   
      /* リンクをホバーしたときのカーソルにする。*/
      cursor: pointer;
  }
   
  /* twitter画像をクリックした瞬間 */
  img.twitter_button:active{
   
      /* 要素を若干下に下げることで、押した感じを出す。*/
   
      /* 今いる位置から相対的に3px下に配置する。*/
      position: relative;
      top: 3px;
   
  }
  
  