body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    border: 1px solid #000;
}

button {
    width: 100px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box2 {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    border: 1px solid #000;
}

button {
    width: 100px;
    text-align: center;
}

#box3 {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    border: 1px solid #000;
}

button {
    width: 100px;
    text-align: center;
}